---
http_interactions:
- request:
    method: get
    uri: http://api.fyber.com/feed/v1/offers.json?appid=157&apple_idfa=2b6f0cc904d137be2e1730235f5664094b83&apple_idfa_tracking_enabled=true&format=json&hashkey=3bd7935caff9d3900ac8cf197c604d07efd1979b&ip=109.235.143.113&locale=en&offer_types=112&os_version=7.0&timestamp=1443645311&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 7c1ba11066d89e5ba034fa073ebfedbe1c5d0aff
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - W/"a38227ca502d6e75f1f11157cc56e1d5"
    body:
      encoding: ASCII-8BIT
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"EN","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=player1"},"offers":[]}'
  recorded_at: Wed, 30 Sep 2015 20:35:11 GMT
recorded_with: VCR 2.9.3
