@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/*";

section {
  @include outer-container;
}

.intro {
  text-align: center
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%,-50%) );
}

.form-wrapper {
  @include span-columns(4);
  @include vertical-center;
  text-align: left;

  label, span, .input {
    text-align: left;
  }
}

#empty-list {
  @include vertical-center;
}

#offer-list {
  margin-top: 25px;
  .card img {
    float: left;
    margin-right: 8px;
  }
}

#back-button {
  @include margin(10px 0 1em 20px);
  display: block;
}
