@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/*";

section {
  @include outer-container;
}

.intro {
  text-align: center
}

.form-wrapper {
  @include span-columns(4);
  @include transform( translate(-50%,-50%) );
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;

  label, span, .input {
    text-align: left;
  }
}

#offer-list {
  margin-top: 25px;

  .card img {
    float: left;
    margin-right: 8px;
  }
}
